// SECTION ABOUT

.section{

    &__info{
        width: 80%;
        font-size: $text-lg;

        @include respond(phone){
            width: 100%;
        }
    }
    
    &-about{
        @include bgSection($dark);
        color: $light;
    }

    &-services{
        @include bgSection($accent);
        color: $dark
    }

    &-meet{
        @include bgSection($white);
        color: $dark-2;
    }

    &-contact{
        @include bgSection($dark);
        color: $light;
    }
}

.footer{
    &-nav{
        @include bgSection($light);
        color: $dark-2;
    }

    &-copy{
        @include bgSection($dark);
        color: $white;
    }
}
