// CONTACT

.section-contact{

    &__info{
        width: 80%;

        @include respond(phone){
            width: 100%;
        }
    }

    &__details{
        padding-top: 10rem;
        padding-bottom: 3rem;

        &-address{
            width: 85%;
            margin: 0 auto;
            font-weight: 400;
        }
    }
}