// HERO-BOX MANGER

.hero-box{
    background-image: linear-gradient(0deg, rgba($white, .95), rgba($white, .95)), url("../images/hero.png");
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;

    @include respond(phone){
        height: 112vh;
    }

    p{
        font-size: $text-lg;
        width: 85%;
        margin: 0 auto;

        @include respond(phone){
            width: 100%;
        }
    }

    &__info{
        font-size: $text-lg;
        color: $primary;
        font-weight: 600;
    }

    &__play{
        box-sizing: content-box;
        display: inline-block;
        width: 24px;
        height: 24px;
        background: $secondary;
        border-radius: 100%;
        position: relative;
        margin-left: 4rem;

        & svg{
            @include absCenter;
            z-index: 3;
            margin-left: .3rem;
        }

        &:hover::after{
            background-color: darken($primary, 10%);
        }

        &::after{
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 6rem;
            height: 6rem;
            background: $primary;
            border-radius: 50%;
            transition: all 200ms;
        }

        &::before{
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 6rem;
            height: 6rem;
            background: $primary;
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
        }
    }

}



@keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
  