// SECTION MEET

.section-meet{

    &__info{
        width: 80%;
        font-size: $text-lg;

        @include respond(phone){
            width: 100%;
        }
    }
}

.figure{

    &-caption--tag{
        font-weight: 500;
        color: $dark;

        span{
            color: $dark-2;
            font-weight: 400;
        }
    }
}