// NAVIGATION LAYOUT

.navbar{
    background-color: rgba($white, .8);
    backdrop-filter: blur(18px);
    padding: 1.2rem;

    .nav{
        &-link{
            &:link,
            &:visited{
                color: $gray-2;
                font-size: $text-sm;
                font-weight: 500;
                text-transform: lowercase;
                transition: all .2s linear;
                position: relative;
            }
    
            &:hover,
            &:active{
                color: $dark;

                &::after{      
                    content: " ";
                    display: block;
                    width: .6rem;
                    height: .6rem;
                    border-radius: 50%;
                    background-color: $dark;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                }
            }
        }

    }

    &-toggler{
        font-size: 3rem;
        border: 3px solid $dark;
        border-radius: 1.25rem;
    }
}