// NAVIGATION LAYOUT

.navbar{
    background-color: rgba($white, .6);
    padding: 1.5rem 0;
    backdrop-filter: blur(18px);

    @include respond(phone){
        padding: 1.5rem 2rem;
    }

    .nav{
        &-item{
            &:not(:last-child){
                padding-right: 1.8rem;

                @include respond(tab-portrait){
                    padding-bottom: 1.8rem;
                }
            }
        }

        &-link{

            &:link,
            &:visited{
                color: $gray-2;
                font-size: $text-sm;
                font-weight: 400;
                // text-transform: lowercase;
                transition: all .3s linear;
                position: relative;

                @include respond(tab-portrait){
                    font-size: 2rem;
                    display: inline-block;
                }

            }
    
            &:hover,
            &:active{
                color: $dark !important;
                font-weight: 600;

                &::after{      
                    content: " ";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $dark;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                }
            }
        }

    }

    &-toggler{
        font-size: 2.2rem;
        border: 2px solid $dark;
        border-radius: .8rem;
        border-color: $primary !important;
    }
}