// NAVIGATION LAYOUT

.navbar{
    background-color: $light;
    padding: 1.2rem;

    .nav{
        &-link{
            &:link,
            &:visited{
                color: $gray-2;
                font-size: $text-sm;
                font-weight: 500;
                text-transform: uppercase;
                transition: all .2s linear;
                position: relative;
            }
    
            &:hover,
            &:active{
                color: $dark;

                &::after{      
                    content: " ";
                    display: block;
                    width: .6rem;
                    height: .6rem;
                    border-radius: 50%;
                    background-color: $dark;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                }
            }
        }

    }
}