*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    
      // this define what 1rem will be

    font-size: 62.5%;  // 1rem = 10px; 10px/16px = 62.5%; 
    
    @include respond (tab-landscape){ // width < 1200
        font-size: 56.25%; //1rem = 9px, 9px / 16px = 56.25%
    };

    @include respond (tab-portrait){ //width < 900
        font-size: 50%; //1rem = 8px, 8px / 16px = 50% 
    };

    // @include respond (phone){ //width < 600
    //     font-size: 30%; //1rem = 8px, 8px / 16px = 50% 
    // };


    @include respond (big-desktop){
        font-size: 75%; //1rem = 12px, 12px / 16px = 75% 
    };
}

body{
    box-sizing: inherit;
}