body{
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: $text-sm;
    line-height: 1.7;
}

a{
    &:hover{
        text-decoration: none;
    }
}

// HEADER TYPOGRAPHY
.heading{
    font-weight: 600;
    color: $dark;

    &-primary{
        font-size: $h1;
        
        span{
            color: $primary;
        }
    }

    &-secondary{
        font-size: $h2;
    }
}