body{
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: $text-sm;
    line-height: 1.7;
}

// h1,h2,
// .h1,.h2{
//     font-weight: 700;
//     color: $dark;
// }
// h3,h4,h5,
// .h3,.h4,.h5{
//     font-weight: 600;
//     color: $dark;
// }

a{
    &:hover{
        text-decoration: none;
    }
}

// HEADER TYPOGRAPHY
.header{
    font-weight: 600;
    color: $dark;

    &-primary{
        font-size: $h1;
        
        &--2{
            color: $primary;
        }
    }

    &-secondary{
        font-size: $h2;
    }
}