.body{
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: 1rem;
    color: $dark-2;
}

h1,h2,
.h1,.h2{
    font-weight: 700;
    color: $dark;
}
h3,h4,h5,
.h3,.h4,.h5{
    font-weight: 600;
    color: $dark;
}

a{
    &:hover{
        text-decoration: none;
    }
}