// COLOUR MANAGER

$primary: #7F20CB;
$secondary: #5868E8;

$dark: #242242;
$dark-2: #242242e6;

$light: darken(#FAFAFA, 15);
$accent: #fafafa;
$white: #FFFFFF;

// GRAY

$gray-2: #4F4F4F;


// TYPOGRAPHY
$h1: 6rem;
$h2: 4.7rem;
$h3: 3.2rem;
$h4: 2.5rem;
$text-sm: 1.4rem;
$text-md: 1.6rem;
$text-lg: 1.8rem;
